.header {
    margin: 0 auto;
    padding: 0 $wrapper-side-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url(../img/img_1.png) center/cover no-repeat;
    height: 800px;
    &__figure {
        position: relative;
        top: 183px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 19px;
        margin: 0;
        @media (max-width: $medium-screen-width) {
            top: 180px;
        }
        @media (max-width: $small-screen-width) {
            text-align: center;
            top: 150px;
        }
        &__title {
            color: $color-white;
            @include font(('Montserrat', sans-serif), normal, 700, 5rem, 5rem);
            @media (max-width: $medium-screen-width) {
                @include font(('Montserrat', sans-serif), normal, 700, 4.5rem, 4.5rem);
            }
            @media (max-width: $small-screen-width) {
                @include font(('Montserrat', sans-serif), normal, 700, 3rem, 3rem);
            }
        }
        &__main {
            color: $color-purple;
            @include font(('Lato', sans-serif), normal, 400, 2rem, 2rem);
            text-align: center;
            @media (max-width: $medium-screen-width) {
                @include font(('Lato', sans-serif), normal, 400, 1.5rem, 1.5rem);
                margin: 0 20px;
            }
            @media (max-width: $small-screen-width) {
                @include font(('Lato', sans-serif), normal, 400, 1.5rem, 1.5rem);
            }
        }
        &__paragraph {
            color: $color-grey;
            @include font(('Montserrat', sans-serif), normal, 400, 1rem, 1rem);
            @media (max-width: $medium-screen-width) {
                @include font(('Lato', sans-serif), normal, 400, 0.8rem, 0.8rem);
            }
        }
    }
    &__wrapper {
        &-button {
            position: relative;
            bottom: -80px;
        }
    }
    &__button {
        @include font(('Montserrat', sans-serif), normal, 700, 21px, 1.3rem);
        width: 390px;
        height: 62px;
        @media (max-width: $medium-screen-width) {
            line-height: 22px;
        }
        @media (max-width: $small-screen-width) {
            @include font(('Montserrat', sans-serif), normal, 700, 18px, 1.2rem);
            width: 290px;
            height: 45px
        }
        &__description {
            text-align: center;
            color: $color-grey;
                margin: 19px;
            @media (max-width: $medium-screen-width) {
                line-height: 16px;
            }
            @media (max-width: $small-screen-width) {
                @include font(('Montserrat', sans-serif), normal, 400, 0.8rem, 0.8rem);
            }
        }
    }
    @media (max-width: $small-screen-width) {
        height: 715px;
    }
}

.button__hover {
    text-align: center;
    border-radius: 40px;
    padding: 0;
    border: 0;
    transition: 1s;
    border: 2px solid $color-purple;
    &:hover {
        color: $color-purple;
        background-color: $color-white;
        border: 2px solid $color-purple;
    }
}

button {
    cursor: pointer;
}